@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root {
  --colorText: #fff;
  --colorBackground: #000;
  --colorSidebar: #333;
  --colorGhost: #D9D9D9;
  --colorExtra: #B8AF7F;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  font-family: inherit;
}

body {
  min-height: 100vh;
  min-width: 320px;
  color: var(--colorText);
  background: var(--colorBackground);
  line-height: 1.6;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 16px;
  }
}
